Package: science-config
Architecture: all
Depends: adduser, ${misc:Depends}, menu, blends-common (>= 0.6.15)
Description: Debian Science Project config package
 This package provides the basic infrastructure of all science-* packages and is
 needed by them.
 .
 These are the science related metapackages in the Debian Science project:
 .
  * science-astronomy       packages related to astronomy
  * science-astronomy-dev   packages related to development of
                            astronomical applications
  * science-biology         packages related to biology
  * science-chemistry       packages related to chemistry
  * science-dataacquisition packages related to data acquisition
  * science-dataacquisition-dev packages related to data acquisition
                            development
  * science-distributedcomputing  distributed computing packages
  * science-economics       packages related to economics
  * science-electrophysiology  packages related to electrophysiology
  * science-electronics     packages related to electronics
  * science-engineering     packages related to engineering
  * science-engineering-dev packages related to development of
                            engineering applications
  * science-financial       packages related to financial engineering
  * science-geography       packages related to geography
  * science-geometry        packages related to geometry
  * science-highenergy-physics packages related to high energy physics
  * science-highenergy-physics-dev packages related to development of
                            high energy physics applications
  * science-linguistics     packages related to linguistics
  * science-machine-learning  packages related to machine learning
  * science-mathematics     packages related to mathematics
  * science-mathematics-dev packages related to development of
                            mathematical applications
  * science-meteorology     packages related to meteorology and climate
  * science-meteorology-dev packages related to the development of
                            meteorology and climate applications
  * science-nanoscale-physics  packages related to nanoscale physics
  * science-nanoscale-physics-dev packages useful for developing nanoscale
                            physics applications
  * science-neuroscience-cognitive   packages related to cognitive
                            neuroscience
  * science-neuroscience-datasets    packages for Neuroscience Datasets
  * science-neuroscience-modeling    packages for modeling of neural
                            systems
  * science-physics         packages related to physics
  * science-physics-dev     packages related to development of physical
                            applications
  * science-psychophysics   packages related to packages for psychophysics
  * science-robotics        packages related to robotics
  * science-robotics-dev    packages related to development of robotics
                            applications
  * science-simulation      packages to do simulations
  * science-social          packages related to social sciences
 .
 This are metapackages for common utilities for all sciences:
 .
  * science-imageanalysis   packages related to image analysis
  * science-numericalcomputation   packages related to numerical
                            computation
  * science-statistics      packages related to statistics
  * science-typesetting     packages related to typesetting
  * science-viewing         packages related to viewing
  * science-viewing         packages related to viewing
  * science-viewing-dev     packages related to development of viewing
                            applications
 .
 Note: All these packages are so called metapackages. This means they are not
 executable programs, but only links to other packages. This way you will
 conveniently get most of scientific free software which is available in
 Debian.

